<div class="navbar">
    <div class="navbar-content">
        <div class="navbtn">
            <!-- <img src="../../assets/images.png" >  -->
            <a onclick="document.getElementById('haseeb').scrollIntoView()">HaseebAbdulla</a>
            <!-- <span>HaseebAbdulla</span> -->
        </div>
        <div class="dropdown">
            <button class="dropbtn">More</button>
            <div class="dropdown-content">
                <a onclick="document.getElementById('first').scrollIntoView()">About</a>
                <a onclick="document.getElementById('blogs').scrollIntoView()">Blogs</a>
                <a onclick="document.getElementById('skills1').scrollIntoView()">Skills</a>
            </div>
        </div>
        <div class="navbtn" onclick="document.getElementById('service1').scrollIntoView()">Service</div>
        <div class="navbtn" onclick="document.getElementById('haseeb').scrollIntoView()">Home</div>
    </div>
</div>
