<div class="services">
    <div class="ser">
        <h3>
            Services
        </h3>
        <!-- <div class="subheading">
    WHAT I DO?</div> -->
        <div class="web">
            <h5>
                <i style="font-size: medium;   color: rgb(90, 88, 88);" class="fa fa-code"></i>
                Web Development
            </h5>
            <p>The web development process includes: web design, web content, client-side / server-side
                scripting and
                network security configuration.</p>
        </div>

        <div class="angular">
            <h5>
                <i style="font-size: medium;   color: rgb(90, 88, 88);" class="fa fa-code"></i>
                Angular Development
            </h5>
            <p>
                Working knowledge of Angular (front-end) optimization
                and performance techniques.
            </p>
        </div>

        <div class="python">
            <h5>
                <i style="font-size: medium;   color: rgb(90, 88, 88);" class="fa fa-code"></i>
                Python Developer
            </h5>
            <p>
                Python developer with experience in finance and fintech. Well-acquainted with database
                engineering, data
                warehouses, and data processing.
            </p>
        </div>
    </div>
</div>
<div class="blogs" id="blogs">
    <h2 style=" font-family: 'Poppins', sans-serif; ">
        BLOGS
    </h2>
    <hr>
    <br>
    <div class="blog-items">
        <div class="blog-item">
            <div class="blog-img">
                <img class="card-img-top" src="../../assets/python-coding-mistakes.jpg"
                    alt="Card image cap">
            </div>
            <div class="blog-content">
                <h5>Build a Web Page using python</h5>
                <p>To build a web page using a Python framework .
                    examples of trendy CSS designs using only HTML and CSS.
                </p>
                <div class="blog-footer">
                    <i class="fa-brands fa-medium"></i>
                    <div class="blog-btn"><a
                            href="https://medium.com/@haseebabdulla222/to-build-a-web-page-using-a-python-framework-ee19cf9401ca">Read
                            more</a></div>
                </div>
            </div>
        </div>
        <div class="blog-item">
            <div class="blog-img">
                <img class="card-img-top" src="../../assets/images.jpeg" alt="Card image cap">
            </div>
            <div class="blog-content">
                <h5> Angular Tables</h5>
                <p>Set up an Angular project. <br>
                    The mat-table provides a Material Design styled data-table that can be used to display
                    rows of data.
                    This table builds on the foundation of the CDK ...
                </p>
                <div class="blog-footer">
                    <i class="fa-brands fa-medium"></i>
                    <div class="blog-btn"><a
                            href="https://medium.com/@haseebabdulla222/how-to-make-angular-table-123d88e6f0a">Read
                            more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-item">
            <div class="blog-img">
                <img class="card-img-top"
                    src="../../assets/123photo-1610563166150-b34df4f3bcd6-768x575.jpeg"
                    alt="Card image cap">
            </div>
            <div class="blog-content">
                <h5>Python Web Scrapping</h5>
                <p>using Python to extract data from multiple websites and store it in a structured format
                    for analysis.
                </p>
                <div class="blog-footer">
                    <i class="fa-brands fa-medium"></i>
                    <div class="blog-btn"><a
                            href="https://medium.com/@haseebabdulla222/to-build-a-web-page-using-a-python-framework-ee19cf9401ca">Read
                            more</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- skills -->


<div class="skills" id="skills1">
    <h3 style="  color:black;font-family: 'Poppins', sans-serif;  ">
        Skills</h3><br>

    <div class="progress-bar-container">
        <h2>HTML</h2>
        <div class="progress-bar">
            <span class="percentage html"></span>
        </div>
    </div>

    <div class="progress-bar-container">
        <h2>CSS</h2>
        <div class="progress-bar">
            <span class="percentage css"></span>
        </div>
    </div>

    <div class="progress-bar-container">
        <h2>Python</h2>
        <div class="progress-bar">
            <span class="percentage bootstrap"></span>
        </div>
    </div>

    <div class="progress-bar-container">
        <h2>Angular</h2>
        <div class="progress-bar">
            <span class="percentage angular"></span>
        </div>
    </div>

    <div class="progress-bar-container">
        <h2>Django</h2>
        <div class="progress-bar">
            <span class="percentage bootstrap"></span>
        </div>
    </div>

    <div class="progress-bar-container">
        <h2>Bootstrap</h2>
        <div class="progress-bar">
            <span class="percentage bootstrap"></span>
        </div>
    </div>

    <div class="progress-bar-container">
        <h2>Javascript</h2>
        <div class="progress-bar">
            <span class="percentage bootstrap"></span>
        </div>
    </div>

    <div class="progress-bar-container">
        <h2>Typescript</h2>
        <div class="progress-bar">
            <span class="percentage typescript"></span>
        </div>
    </div>
</div>
<div>
