<div class="main" id="haseeb">

    <app-navbar></app-navbar>
  
    <div class="container">
        <div class="left">
            <div class="l-container">
            </div>
        </div>
        <div class="right">
            <div class="r-container">
                <div class="profile">
                    <img src=".././../assets/Copy_of_1685539013489.jpg" alt="">
                </div>
                <div class="myself">
                    <h1 class="head-name">HASEEB ABDULLA</h1>
                    <div class="title subheading">
                        SOFTWARE DEVELOPER &nbsp; |&nbsp; FULLSTACK DEVELOPER &nbsp;
                    </div>
                    <h1>
                        <div class="head-icons">
                            <a style="color: black;" href="https://www.haseebabdulla222@gmail.com"><i
                                    class="fa-solid fa-envelope"></i></a>&nbsp;
                            <a style="color: black;" href="https://www.instagram.com/haseeb_.abdulla/"><i
                                    class="fa-brands fa-instagram"></i></a>&nbsp;
                            <a style="color: black;" href="https://www.linkedin.com/in/haseeb-abdulla-98929724a/"
                                title="Linkdin"><i class="fa-brands fa-linkedin"></i></a> &nbsp;
                            <a style="color: black;" href="https://github.com/HaseebAbdulla"><i
                                    class="fa-brands fa-github"></i></a>
                        </div>
                    </h1>




                </div>
            </div>
        </div>
    </div>
    <!-- animations -->

    <app-animation></app-animation>

    <div class="contents">
        <div class="aboutme" id="first">
            <h3>About Me</h3>
            <p class=" subheading">
                MY STORY</p>
            <p class="summary">
                As a Full Stack Developer, I specialize in both front-end and back-end development, allowing me to
                create robust
                and dynamic web applications.
                I have a strong passion for problem-solving and a deep understanding of programming languages,
                frameworks, and
                tools. <br>

                On the front-end, I am proficient in HTML, CSS, and JavaScript, and I have experience with popular
                libraries and
                frameworks such as React, Angular, and Vue.js.
                I can effectively create responsive and user-friendly interfaces, ensuring a seamless user experience
                across
                different devices and browsers. <br>

                When it comes to back-end development, I am skilled in various programming languages such as Python,
                Java, and
                PHP.
                I have expertise in working with databases like MySQL, PostgreSQL, and MongoDB, and I am experienced in
                building
                RESTful APIs to handle data retrieval and manipulation. <br>

                Furthermore, I have knowledge of server-side technologies such as Node.js and Express.js, enabling me to
                develop
                scalable and efficient server applications.
                I am familiar with cloud platforms like Amazon Web Services (AWS) and Microsoft Azure, and I can deploy
                applications using tools like Docker and Kubernetes. <br>

                Throughout my career, I have worked on numerous projects, collaborating with cross-functional teams to
                deliver
                high-quality solutions.
                I am comfortable working with version control systems like Git and using Agile methodologies for project
                management. <br>

                Constantly learning and staying up-to-date with the latest trends and technologies in the field is
                crucial to
                me. I am enthusiastic about exploring new frameworks, tools, and best practices to enhance my skills and
                deliver
                innovative solutions.

                In summary, as a Full Stack Developer, I bring a comprehensive skill set, a problem-solving mindset, and
                a
                passion for creating efficient and user-friendly applications. I am committed to continuously improving
                my
                abilities and delivering top-notch solutions in the ever-evolving world of web development.
            </p>
            <ul>
                <!-- <li id="second" style="   font-family: 'Poppins', sans-serif;
            ">AGE &nbsp;&nbsp;&nbsp;&nbsp; : 21</li> -->
                <!-- <li style="   font-family: 'Poppins', sans-serif;
            ">EMAIL &nbsp; : haseebabdulla222@gmail.com</li>
            <li style="   font-family: 'Poppins', sans-serif;
            ">PHONE &nbsp;: 9074476836</li> -->
            </ul>
        </div><br>
        <div class="services" id="service1">
           
            <br>

            <!-- <div class="experience">
          <h3>
            Experience
          </h3>
          <p>
            WORKING WITH
          </p>
          <ul>
            <li>
              <h4>
                DMC Works Pvt.Ltd
              </h4>
              <p style="font-family: 'Poppins', sans-serif;  color: rgb(90, 88, 88);">
                (2022)</p>
            </li>
          </ul>
          <ul>
            <li>
              <h4>
                Baabtra Software Training Institute
              </h4>
              <p style="font-family: 'Poppins', sans-serif;  color: rgb(90, 88, 88);">
                (2021-2022)</p>
            </li>
          </ul>
        </div>
        <div class="education">
          <h3>
            Education
          </h3>
          <p>
            STUDIED AT
          </p>
          <ul>
            <li>
              <h4> BEMP Heigher Secondary</h4>
              <p> (2016-2018)
              </p>
            </li>
            <li>
              <h4>Kannur University</h4>
              <p>(2018-2021)</p>
            </li>
            <li>
              <h4>
                Baabtra Software Training Institute
              </h4>
              <p>
                (2021-2022)
              </p>
            </li>
          </ul>
        </div> -->

        <!-- blog component -->

        <app-blog></app-blog>

            <br><br>






                <div class="head-icons2">
                    <a style="color: black;" href="https://www.haseebabdulla222@gmail.com"><i
                            class="fa-solid fa-envelope"></i></a>&nbsp;
                    <a style="color: black;" href="https://www.instagram.com/haseeb_.abdulla/"><i
                            class="fa-brands fa-instagram"></i></a>&nbsp;
                    <a style="color: black;" href="https://www.linkedin.com/in/haseeb-abdulla-98929724a/"
                        title="Linkdin"><i class="fa-brands fa-linkedin"></i></a> &nbsp;
                    <a style="color: black;" href="https://github.com/HaseebAbdulla"><i
                            class="fa-brands fa-github"></i></a>

                </div>
                <div class="footer">
                    <h2> &copy; Haseebabdulla.com
                    </h2>

                </div>
                <div class="dte">2021-2023</div>



            </div>



        </div>



        